<!-- Hero Section atualizada -->
<section id="home" class="hero text-center text-white">
  <div class="container">
    <h1 class="display-4">"A vida é uma breve passagem"</h1>
    <p class="lead">porém, você não precisa estar aqui apenas de passagem. Faça valer a pena.</p>
  </div>
</section>

